/* Esto resetea cualquier margen o relleno predeterminado que puedan tener el body y el html. */
body, html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/Fondo.jpg'), url("img/Fondo_principal.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 16.5%, 100% 83.5%;
    background-position: top center, center bottom;  
}

.main-container {
    width: 100%;
}

.Barra_fondo {
    margin-top: -120px;
    background-color: #000000ab;
    height: 90px;
    width: 105%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.Navegacion {
    width: 200px;
    height: 50px; 
    background-color:rgba(61,61,61,0.815);
    color: rgb(255, 255, 255);
    border: 3px solid #000000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 2em;
    margin: 0 5px; /* Distancia entre boton */
}

.Navegacion_jugar {
    width: 200px; /*Anchodelbotón*/
    height: 100px; /*Altodelbotón*/
    background-color: rgba(61, 61, 61, 0.815);
    color: rgb(255, 255, 255);
    border: 3px solid #000000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 3em;
    margin: 0 5px;
}

/* Cambia color si el cursor pasa por encima del Boton */
.Navegacion:hover {
    background-color: rgba(117, 117, 117, 0.815);
}
.Navegacion_jugar:hover {
    background-color: rgba(117, 117, 117, 0.815);
}

.cuadrado {
    width: 1300px;             /* Ancho del cuadrado. */
    height: 440px;            /* Alto del cuadrado. */
    border: 3px solid #ffffff;   /* Grosor y color del borde. */
    position: relative;       /* Establecer una posición relativa para moverlo con 'top', 'right', 'bottom', 'left'. */
    margin-top: 40px;          /* Mover verticalmente. Un valor positivo moverá hacia abajo, negativo hacia arriba. */
    left: 50;                  /* Mover horizontalmente. Un valor positivo moverá hacia la derecha, negativo hacia la izquierda. */
    z-index: 1;
    position: relative;
}

.texto-centrado {
    margin-top: 20px;
    border: 3px solid #ffffff;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 1.5em;
    display: inline-block;
    width: 400px;
    height: 60px; 
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 2;
    position: absolute;
}

.contenido-adicional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0; /* Ajusta este padding según lo que necesites */
}

.seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.linea-separadora {
    width: 100%;       /* Toma el ancho total de su contenedor */
    height: 10px;       /* Altura de la línea */
    background-color: #000000; 
    margin-top: 0px;
    z-index: 11;
}

.barra-deslizante {
    position: fixed;
    top: -80px; /* Oculta la barra inicialmente */
    left: 0;
    right: 0;
    background-color: #000000ab;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s; /* Efecto suave al aparecer y desaparecer */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
}

.N_Navegacion {
    width: 200px; /*Anchodelbotón*/
    height: 40px; /*Altodelbotón*/
    background-color: rgba(61, 61, 61, 0.815);
    color: #fff; /*Colordetexto*/
    margin: 0 5px;
    border: 3px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;/* Efecto suave al pasar el mouse por encima */

}

.N_Navegacion_jugar {
    width: 200px; /*Anchodelbotón*/
    height: 60px; /*Altodelbotón*/
    background-color: rgba(61, 61, 61, 0.815);
    color: #fff; /*Colordetexto*/
    margin: 0 5px;
    border: 3px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;/* Efecto suave al pasar el mouse por encima */
    font-size: 1.5em;

}

.N_Navegacion:hover {
    background-color: rgba(117, 117, 117, 0.815);
}

.N_Navegacion_jugar:hover {
    background-color: rgba(117, 117, 117, 0.815);
}

.slider-container {
    position: relative;
    z-index: 1;
    margin-top: -20px;
    overflow: visible;
}


.slider {
    position: relative;
    overflow: hidden;
    height: 400px; 
    width: 1000px;
    border: 10px solid rgb(0, 0, 0);
}

.slide {
    width: 100%;
    height: 100%;
}

/* Estilo para los botones */
.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centra los botones verticalmente */
    color: #fff; /* Color de las flechas */
    background-color:rgba(61, 61, 61, 0.815); /* Fondo semi-transparente */
    border: none;
    cursor: pointer;
    padding: 20px 20px;
    z-index: 2;
    font-size: 24px;
    border: 5px solid rgb(0, 0, 0);
}

.prev {
    left: -150px; 
}

.next {
    right: -150px; 
}


.prev:hover, .next:hover {
    background-color: rgba(61, 61, 61, 0.815); /* Fondo un poco más oscuro al pasar el mouse */
}


.slider-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-dot {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
}

.slider-dot.active {
    opacity: 1;
}

/* Estilo para las imágenes del slider */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;  /* Inicialmente, oculta todas las imágenes */
}

/* 2do Slider */

.swiper-container {
    width: 100%;
    height: 500px; /* o lo que necesites */
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.swiper-container {
    width: 1000px;
    height: 400px;
    margin: 0 auto 75px auto; /* Añade un margen inferior */
    position: relative;
}

.swiper-slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%; 
}

.swiper-button-prev, .swiper-button-next {
    background-color: rgba(15, 15, 15, 0.815);
    transform: translateY(-40%);
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 40px 40px;
    border: 5px solid rgb(0, 0, 0);
    top: 50%;
    margin: 0 -90px;
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 24px;
    color: #ffffff;
}

.swiper-slide video {
    width: 100%;  /* Asegura que el video tome todo el ancho del slide */
    height: 100%; /* Asegura que el video tome toda la altura del slide */
    object-fit: cover; /* Hace que el video cubra el área del slide manteniendo su proporción */
}

.cuadrado2 {
    width: 1300px;             /* Ancho del cuadrado. */
    height: 330px;            /* Alto del cuadrado. */
    border: 3px solid #ffffff00;   /* Grosor y color del borde. */
    position: relative;       /* Establecer una posición relativa para moverlo con 'top', 'right', 'bottom', 'left'. */
    margin-top: 40px;          /* Mover verticalmente. Un valor positivo moverá hacia abajo, negativo hacia arriba. */
    left: 50;                  /* Mover horizontalmente. Un valor positivo moverá hacia la derecha, negativo hacia la izquierda. */
    z-index: 1;
    position: relative;
}

.barra-personajes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#contenidoPersonajes {
    position: relative;
}

#swiperPersonajes .swiper-button-next,
#swiperPersonajes .swiper-button-prev {
    display: none !important;
}

.personaje-btn {
    background-color: rgba(0, 0, 0, 0.815);
    color: #fff;
    border: 3px solid #000000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em; /* Ajusta el tamaño del texto */
    margin: 0 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -840px; 
    z-index: 10;
}

.personaje-btn img {
    max-width: 100px; /* Ajusta el ancho máximo de la imagen del botón */
    max-height: 100px; /* Ajusta la altura máxima de la imagen del botón */
}

.monturas-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.montura {
    width: 200px; 
    margin: 35px; 
    text-align: center;
}

.montura img {
    width: 100%; 
    height: auto; 
}

.montura p {
    color: white; 
}

/* Formulario */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex; /* Usamos flexbox para alinear los formularios */
    justify-content: space-between; /* Distribuimos el espacio entre los formularios */
}

form {
    flex: 1; /* Hace que ambos formularios ocupen el mismo espacio en el contenedor principal */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluido box-sizing para que el padding no afecte el tamaño total del formulario */
    margin: 60px; /* Eliminamos el margen que estaba causando problemas */
}

.small-form {
    max-width: 300px; /* Ancho máximo específico para el formulario de usuarios */
    max-height: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #0077ff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
* {
    padding: 0;
    box-sizing: border-box;
}
